<tr>
    <div>

    <!-- Button trigger modal -->
        <td scope="row"><%= data.name %></td>
        <td><%= data.team_coach.fullName %></td>
        <td><%= data.managerId %></td>
        <td><%= data.homeShirt %></td>
        <td><%= data.awayShirt %></td>
    <!-- Modal -->
    </div>
</tr>
