<div class="row pl-3 fa-border border-primary">
    <div class="col">
        <div class="row">Name: <%=  data.name%></div>
        <div class="row">HLV: <%=  data.coach%> </div>
        <div class="row">Manager: <%=  data.manager%> </div>
        <div class="row">
            <span>Home Shirt: </span>
            <img class="border" height="100" width="100" src=<%=  data.homeShirt%>>
        </div>
        <div class="row">
            <span>Away Shirt: </span>
            <img height="100" width="100" class="border" src=<%=  data.awayShirt%>>
        </div>
    </div>
    <div class="col d-flex align-items-center">
        <img class="border" height="250" width="250" src=<%=  data.logo%> alt="Logo">
    </div>
</div>