<!DOCTYPE html>
<html lang="en">

<head>

  <%-include('../general/head.ejs') %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/stadium.css">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%-include('../general/nav.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%-include('../general/topbar.ejs') %>


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Danh sách sân vận động</h1>
            <!-- Button trigger modal -->
            <button type="button" class="p-2 d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal"
              data-target="#add-stadium" id="btn-add-stadium">
              <i class="fa fa-plus mr-2" aria-hidden="true"></i>Thêm</a>
            </button>
          </div>

          <%- include('./table/stadium-list.ejs', {stadiumData})%>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <%-include('../general/js.ejs') %>
<!-- 
  <% data.forEach(function(row){ %>
  <%-include('./modal.ejs', {data: row}) %>
  <% }) %> -->

  <script src="../js/table/stadium.js"></script>
  <script src="../js/select/team-list.select.js"></script>
  
</body>

</html>