<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../general/head.ejs') %>
    <link href="../../css/manage-teams.css" rel="stylesheet">
    <link href="../../css/match/match-list.css" rel="stylesheet">
    

    <script
      type="application/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <%-include('../general/nav.ejs') %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <%-include('../general/topbar.ejs') %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
              <main role="main" class="col-md-12 col-lg-12 px-4">
                <section
                  class="mainWidget statsRow"
                  style="
                    position: relative;
                    clear: both;
                  "
                >
                  <header>
                    <h3 class="subHeader">Danh sách trận đấu</h3>
                  </header>
                </section>
                <div class="row mt-4">
                  <div class="d-flex flex-row-reverse mb-2 pr-1 w-100 mr-2">
                    <!-- <a href="/admin/user/upgrade" class="p-2 btn btn-primary btn-sm ml-1" role="button"
                       aria-pressed="true">Upgrade Required</a> -->
                    <!-- Button trigger modal -->
                    <button
                      type="button"
                      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                      data-toggle="modal"
                      data-target="#addMatch"
                      onclick="setNoneTeamValue()"
                    >
                    <i class="fa fa-plus mr-2" aria-hidden="true"></i>Thêm trận đấu
                    </button>
                  </div>

                    <!-- Modal -->
                <%- include('./match-add-modal.ejs', {teams: teams}) %>
        </div>
                  <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                      <div class="main-box-body clearfix">
                        <div class="table-responsive">
                          <table class="table match-list">
                            <thead>
                              <tr>
                                <th class="text-center"><span>STT
                                </span></th>
                                <th class="text-right">
                                  <span>Đội nhà
                                  </span>
                                </th>
                                <th class="text-center">
                                    <span>Kết quả
                                    </span>
                                </th>
                                <th class="text-left">
                                  <span>Đội khách
                                  </span>
                                </th>
                                <th class="text-center">
                                    <span>Thời gian
                                    </span>
                                  </th>
                                  <th class="text-center">
                                    <span>Sân vận động
                                    </span>
                                  </th>
                                <th>&nbsp;</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% matches.forEach(function(match, index) { %>
                                    <%- include('../table/match-row.ejs', {match: match, index: index}) %>
                                    <% }); %>
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $('.match-list').DataTable();
      } );
    </script>

    <%-include('../general/js.ejs') %>
    <script src="../js/table/teamJS.js"></script>
  </body>
</html>
