<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/manage-teams.css">
  <link rel="stylesheet" type="text/css" href="css/athlete.css">
  
   <!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- Multiselect dropdown -->
  <!-- JS & CSS library of MultiSelect plugin -->
  <script src="js/jquery.multi-select.min.js"></script>
  <script src="js/jquery.multi-select.js"></script>
  
  <link rel="stylesheet" href="/css/example-styles.css">
  <!-- <link rel="stylesheet" href="/css/multi-select.dist.css">
  <link rel="stylesheet" href="/css/multi-select.dev.css.map">
  <link rel="stylesheet" href="/css/multi-select.dev.css">
  <link rel="stylesheet" href="/css/multi-select.css"> -->
  
  <script src="https://kit.fontawesome.com/51d5218d26.js" crossorigin="anonymous"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3" style="font-size: 13px">Ngoại <br>hạng anh</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Trang chủ</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Chức năng
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Đội bóng</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="buttons.html">Cầu thủ</a>
            <a class="collapse-item" href="cards.html">Thống kê</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Giải đấu</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Đội bóng</a>
            <a class="collapse-item" href="utilities-border.html">Lịch thi đấu</a>
            <a class="collapse-item" href="utilities-animation.html">BXH</a>
            <a class="collapse-item" href="utilities-other.html">Thống kê</a>
            <a class="collapse-item" href="utilities-other.html">Quy định</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#accountCollapse"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Tài khoản</span>
        </a>
        <div id="accountCollapse" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Danh sách</a>
            <a class="collapse-item" href="utilities-border.html">Vai trò</a>
          </div>
        </div>
      </li>

      <!-- Heading -->
      <div class="sidebar-heading">
        Addons
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
          aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Login Screens:</h6>
            <a class="collapse-item" href="login.html">Login</a>
            <a class="collapse-item" href="register.html">Register</a>
            <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Other Pages:</h6>
            <a class="collapse-item" href="404.html">404 Page</a>
            <a class="collapse-item" href="blank.html">Blank Page</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                      having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them
                      sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so
                      far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                      say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="row">
            <main role="main" class="col-md-12 col-lg-12 px-4">
                <h1>Phân quyền</h1>
              <div class="row mt-4">

                
                <div class="col-12 d-flex justify-content-between">
                  <div >
                    <input class="form-control" type="text" name="" value="" placeholder="Tìm kiếm">
                  </div>
                  <div class="mb-3">
                    <!-- <a href="/admin/user/upgrade" class="p-2 btn btn-primary btn-sm ml-1" role="button"
                          aria-pressed="true">Upgrade Required</a> -->
                    <a href="#my-modal" class="p-2 btn btn-success btn-sm" role="button" aria-pressed="true" data-toggle="modal">
                      <i class="fa fa-plus mr-2" aria-hidden="true"></i>Thêm</a>
                  </div>
                </div>
                <div class="col-12">
                  <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                      <div class="table-responsive">
                        <table class="table user-list">
                          <thead>
                            <tr>
                              <th class="text-center"><span>STT <i class="fas fa-sort"></i></span></th>
                              <th class="text-center"><span>Vai trò <i class="fas fa-sort"></i></span></th>
                              <th class="text-center"><span>Mã vai trò <i class="fas fa-sort"></i></span></th>
                              <th class="text-center" contenteditable=""><span>Chức năng <i class="fas fa-sort"></i></span></th>
                              <th class="text-center"><span>Ghi chú<i class="fas fa-sort"></i></span></th>
                              
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                              <% roleList.forEach(function(role, index) {%>
                                <tr>
                                    <td class="text-center">
                                      <%= index + 1 %>
                                    </td>
                                    <td class="text-center">
                                      <%= role.name %>
                                    </td>
                                    <td class="text-center">
                                        <%= role.code %>
                                    </td>
                                    <td class="text-center">
                                        <% role.actions.forEach(function(action, index){  %>
                                          <% if (index < 5) {%>
                                            <%= action.name %>, 
                                            <% }%>
                                          <%})%> ...
                                    </td>
                                    <td class="text-center">
                                        
                                    </td>
                                    <td style="width: 7%;">
                                      <a href="#" class="table-link edit-role-btn" id="role-<%= role.code%>">
                                        <span class="fa-stack">
                                          <i class="fa fa-square fa-stack-2x"></i>
                                          <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                      </a>
                                      <a href="/roles/delete-role/<%= role.code %>" class="table-link danger"
                                        onclick="return confirm('Bạn có muốn xoá đội bóng này?')">
                                        <span class="fa-stack">
                                          <i class="fa fa-square fa-stack-2x"></i>
                                          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                      </a>
                                    </td>
                                  </tr>
                                <%})%>
                          </tbody>
                          
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
        <!--===============================================================================================-->
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

 
    <!-- Info Model -->
    <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true" style="padding-bottom: 100px">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="my-modal-title">Thêm mới vai trò</h5>
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="create-role-form">
              
              <div class="row">
                <div class="col-md-6">
                    <label for="role">Tên vai trò</label>
                    <input id="name" class="form-control" type="text" name="role" placeholder="">
                    
                  </div>
                  <div class="col-md-6">
                    <label for="code">Mã vai trò</label>
                    <input id="code" class="form-control" type="text" name="code">
                    
                  </div>
              </div>
              
              <div class="form-group">
                <label for="action">Vai trò</label>
                <select id="action" name="action" multiple="multiple" class="form-control">
                    <optgroup label="Đội bóng">
                      <% actionGroupByCategory.team.forEach(function(action) {%>
                        <option value="<%= action.code %>"><%= action.name %></option>
                        <%})%>
                    </optgroup>
                    <optgroup label="Giải đấu">
                      <% actionGroupByCategory.tournament.forEach(function(action) {%>
                        <option value="<%= action.code %>"><%= action.name %></option>
                        <%})%>
                    </optgroup>
                    <optgroup label="Tài khoản">
                      <% actionGroupByCategory.account.forEach(function(action) {%>
                        <option value="<%= action.code %>"><%= action.name %></option>
                        <%})%>
                    </optgroup>
                    
                </select>
              
            </div>
              
              <button type="submit" class="btn btn-primary" style="float: right">Lưu</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  
    <div id="edit-role-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true" style="padding-bottom: 100px">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="my-modal-title">Chỉnh sửa vai trò</h5>
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="create-role-form">
              
              <div class="row">
                <div class="col-md-6">
                    <label for="role-edit-from">Tên vai trò</label>
                    <input id="name-edit-from" class="form-control" type="text" name="role" placeholder="">
                    
                  </div>
                  <div class="col-md-6">
                    <label for="code-edit-from">Mã vai trò</label>
                    <input id="code-edit-from" class="form-control" type="text" name="code">
                    
                  </div>
              </div>
              
              <div class="form-group">
                <label for="action-edit-form">Vai trò</label>
                <select id="action-edit-form" name="action" multiple="multiple" class="form-control">
                    <optgroup label="Đội bóng">
                      <% actionGroupByCategory.team.forEach(function(action) {%>
                        <option value="<%= action.code %>"><%= action.name %></option>
                        <%})%>
                    </optgroup>
                    <optgroup label="Giải đấu">
                      <% actionGroupByCategory.tournament.forEach(function(action) {%>
                        <option value="<%= action.code %>"><%= action.name %></option>
                        <%})%>
                    </optgroup>
                    <optgroup label="Tài khoản">
                      <% actionGroupByCategory.account.forEach(function(action) {%>
                        <option value="<%= action.code %>"><%= action.name %></option>
                        <%})%>
                    </optgroup>
                    
                </select>
              
            </div>
              
              <button type="submit" class="btn btn-primary" style="float: right">Lưu</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>

    <script>
        $(document).ready(function() {

        $('#action').multiSelect();
        $('#action-edit-form').multiSelect();

        $('#create-role-form').submit((e) => {
            e.preventDefault();
            const name = $('#name').val();
            const code = $('#code').val();
            let actionList = [];
            const listDom = $( ".multi-select-menuitems input[type=checkbox]:checked" );
            for (i of listDom) 
                actionList.push(i.value);
            
            if (!name || !code || !actionList.length) {
                alert('Nhap day du cac truong');
                return;
            }
            
            
            const data = {
                    name: name,
                    code: code,
                    actions: actionList
            };
            
            //send ajax
            fetch('/roles/create-role', {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
            })
            .then(res => location.reload());
           
        })
        $('.edit-role-btn').click(function(e) {
          const code = this.id.slice(5);
          
          fetch('/roles/' + code, {
            method: 'GET',

          })
          .then(res => res.json())
          .then(data => {
            
            $('#name-edit-from').val(data.name);
            $('#code-edit-from').val(data.code);
            let temp = [];
            data.actions.forEach(element => {
              temp.push(element.code);
            });
            
            const listDom = $( "#edit-role-modal .multi-select-menuitems input[type=checkbox]" );
            for (item of listDom) {
              if (temp.includes(item.value))
                item.checked = true;
            }
            $('#edit-role-modal').modal();
          })
        
          
          return false;
        })
        });

        

    </script>
    

  
 

 

</body>

</html>